<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/yildi/IdeaProjects/testng_third_project/src/test/java/test_scripts/Carvana_BaseTest.java"><classes><class name="test_scripts.Carvana_BaseTest"><methods><include name="validate_PageTitle_URL"/><include name="validate_logo"/><include name="validate_NavigateSectionItems"/><include name="validate_SignIn_ErrorMessage"/><include name="validate_FilterOptions"/><include name="validate_SearchResult_Tiles"/></methods></class></classes></test></suite>